ServerSignature Off
Options -Indexes
Options -MultiViews
<FilesMatch "\.htaccess|LICENSE">
    Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Blokir akses langsung, paksa ke img.pasticuan.me
    RewriteCond %{HTTP_HOST} !^img\.pasticuan\.me$ [NC]
    RewriteRule ^ https://img.pasticuan.me%{REQUEST_URI} [R=301,L]

    # Redirect homepage to login
    RewriteRule ^$ /login [R=302,L]

    # Image not found replacement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule images/.+\.(gif|jpe?g|png|bmp|webp) - [NC,L,R=404]

    # PHP front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]

    # Single PHP-entrypoint
    RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ] [NC]
    RewriteRule \.php$ - [NC,L,F,R=404]
</IfModule>
